@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* body {
  background: linear-gradient(300.81deg, #eeadb4 15.33%, #c1abdd 101.47%);
} */
.bg {
  background: linear-gradient(300.81deg, #eeadb4 15.33%, #c1abdd 101.47%);
}

h1 {
  font-family: Kanit;
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
}

h2 {
  font-family: Kanit;
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
}

header {
  font-family: Kanit;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 54px;
}

/*------------------------- Organizer Room ---------------------*/
.orgroom-box {
  font-family: Kanit;
  font-style: normal;
  text-align: center;
  align-items: center;
  height: 160px;
  width: 160px;
  box-shadow: rgba(109, 99, 99, 0.502) 0px 1px 0.4rem;
  background: #e5e5e5;
  border-radius: 0 0 10 10px;
}

/*------------------------- Organizer ASK ---------------------*/

.org-h1 {
  font-family: Kanit;
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 54px;
}

.org-h2 {
  font-family: Kanit;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
}

.org-h3 {
  font-family: Kanit;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
}

.org-h4 {
  font-family: Kanit;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.org-h5 {
  font-family: Kanit;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.org-p {
  font-family: Kanit;
  font-style: normal;
  font-weight: 400;
  font-size: 16x;
  line-height: 24px;
}

.org-box {
  background: #e5e5e5;
  border-radius: 10px;
  margin-bottom: 80px;
}

.org-boxlist {
  height: 600px;
  scrollbar-3dlight-color: aqua;
  overflow: auto;
}

.boxitem {
  background: #ffffff;
  border-radius: 10px;
  margin: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0.4rem;
}

.org-btn {
  width: 200px;
  font-family: Kanit;
  font-style: normal;
  font-weight: 400;
  font-size: 16x;
  line-height: 24px;
}
/*------------------------- Present ASK -------------------------------*/
.pre-box {
  min-height: 80px;
  font-family: Kanit;
  font-style: normal;
  text-align: center;
  align-items: center;
  background: #e5e5e5;
  border-radius: 10px;
}
.bg-pre {
  background: linear-gradient(300.81deg, #eeadb4 15.33%, #c1abdd 101.47%);
}

/*--------------------------- ASK -------------------------------*/
.ask-bg {
  background: linear-gradient(300.81deg, #eeadb4 15.33%, #c1abdd 101.47%);
  padding-bottom: 20%;
}

.question-column {
  background: #ffffff;
  height: 420px;
  width: auto;
  overflow: auto;
  border-radius: 10px;
  border: none;
}

.ask-h1 {
  text-align: center;
  font-size: 36px;
  line-height: 32px;
  font-weight: 600;
  color: #fff;
  font-family: Kanit;
  font-style: normal;
}

.ask-h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: #000;
  font-family: Kanit;
  font-style: normal;
}

.todayTime {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-family: Kanit;
  font-style: normal;
}

/*-------------------------ASK HISTORY ITEM ---------------------*/

.container .question-time {
  font-size: 0.7rem;
  color: #777;
  text-align: center;
  margin-top: auto;
}

.container .textbox {
  display: grid;
  height: 50px;
  grid-template-columns: 100%;
  margin-bottom: 20px;
  justify-content: right;
  justify-items: right;
}

.container .textbox .question-text {
  padding: 9px 14px;
  background-color: #474444;
  color: #fff;
  font-size: 18px;
  font-family: Kanit;
  font-style: normal;
  border-radius: 14px 14px 0px 14px;
  min-height: auto;
}

/*--------------------------------- ASK FORM -----------------------*/

.askText {
  background: #ffffff;
  font-size: 18px;
  font-family: Kanit;
  font-style: normal;
  border: none;
  height: 56px;
  padding: 0 25px;
  border-radius: 10px;
  width: 100%;
}

.anonymous {
  font-size: 16px;
  font-family: Kanit;
  font-style: normal;
}

.btnAdvance {
  border-radius: 15px;
  border: none;
  width: 120px;
  cursor: pointer;
  background-color: rgb(75, 35, 128);
  height: 46px;
  color: #ffffff;
}

input[type="submit"]:hover {
  background: rgb(75, 35, 128);
}

/*------------------------- Room ---------------------*/
.head-room {
  background: linear-gradient(300.81deg, #eeadb4 15.33%, #c1abdd 101.47%);
  border-radius: 0px 0px 20px 20px;
  min-width: auto;
  position: fixed;
}
.room-box {
  width: 300px;
  height: 100px;
  font-family: Kanit;
  font-size: 28px;
  font-style: normal;
  text-align: center;
  align-items: center;

  box-shadow: #e493c980 0px 1px 0.4rem;
}

.btn-join {
  width: 300px;
  height: 100px;

  font-family: Kanit;
  font-style: normal;
  text-align: center;
  align-items: center;
}

.room-h1 {
  text-align: center;
  font-size: 36px;
  line-height: 32px;
  font-weight: 600;
  color: #fff;
  font-family: Kanit;
  font-style: normal;
}
.room-h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  font-family: Kanit;
  font-style: normal;
}
.room-bg {
  background-color: #fafafa;
  min-width: 300px;
}
